@charset "utf-8";

/*===================================
common css
===================================*/
@media screen and (max-width: 768px) {
    .sp {
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .x-sp {
        display: block;
    }
}

/*===================================
mv
===================================*/
@media screen and (max-width: 1440px) {
    .mv-text-wrap {
        padding-bottom: 16.805555555555557vw;
    }

    .logo {
        width: 8.402777777777779vw;
        top: 1.0416666666666665vw;
        left: 1.3888888888888888vw;
    }

    .mv-text {
        gap: 2.083333333333333vw;
    }

    .mv-text h1 {
        font-size: 6.944444444444445vw;
    }
    
    .mv-text p {
        font-size: 1.9444444444444444vw;
    }

    .header-wrap {
        gap : 3.125vw;
        margin-top: 4.652777777777778vw;
    }

    .header-wrap li a {
        padding: 0 0.3472222222222222vw;
        font-size: max(1.597222222222222vw, 16px);
    }

    .scroll-down{
        height: 3.4722222222222223vw;
        margin-top: 16.805555555555557vw;
    } 
}

@media screen and (max-width: 768px) {
    .mv-text-wrap {
        padding-bottom: 31.510416666666668vw;
    }

    .logo{
        top: 1.953125vw;
        left: 2.604166666666667vw;
    }

    .logo img {
        width: 15.755208333333334vw;
    }

    .mv-text h1 {
        font-size: 13.020833333333334vw;
    }
    
    .mv-text p {
        font-size: max(3.6458333333333335vw, 12px);
    }

    .header-wrap {
        width: 75vw;
        flex-wrap: wrap;
        gap : 5.859375vw;
        margin-top: 8.723958333333332vw; 
    }

    .header-wrap li a {
        padding: 0 0.6510416666666667vw;
        font-size: max(2.994791666666667vw, 16px);
    }

    .scroll-down{
        height: 6.510416666666667vw;
        margin-top: 31.510416666666668vw;
    }
}

@media screen and (max-width: 471px) {
    .header-wrap {
        width: 90vw;
    }
}

@media screen and (max-width: 395px) {
    .header-wrap {
        width: 75.9493670886076vw;
    }
}

/*===================================
section common
===================================*/
@media screen and (max-width: 1440px) {
    .section-wrap {
        padding: 8.333333333333332vw 0;
    }

    .section-wrap .section-body-wrap {
        width: 70.83333333333334vw;
    }

    .section-ttl-wrap {
        gap: 2.083333333333333vw;
        margin-bottom: 5.555555555555555vw;
    }

    .section-ttl-wrap h2 {
        font-size: 1.597222222222222vw;
        padding: 0.6944444444444444vw 3.125vw;
    }
}

@media screen and (max-width: 768px) {
    .section-wrap {
        padding: 10.416666666666668vw 0;
    }

    .section-wrap .section-body-wrap {
        width: 92.1875vw;
    }

    .section-ttl-wrap {
        flex-direction: column;
        gap: 1.953125vw;
        margin-bottom: 7.8125vw;
    }

    .section-ttl-wrap h2 {
        font-size: max(3.6458333333333335vw,15px);
        padding: 1.3020833333333335vw 5.859375vw;
    }
}

/*===================================
section 1
===================================*/
@media screen and (max-width: 1440px) {
    #can .section-ttl-wrap img {
        width: 12.63888888888889vw;
    }

    .can-cont-wrap {
        gap: 6.25vw;
    }

    .can-cont-item {
        width: 19.444444444444446vw;
    }

    .can-cont-ttl span {
        font-size: 9.027777777777777vw;
        line-height: 6.944444444444445vw;
    }

    .can-cont-ttl .can-name{
        height: 4.513888888888888vw;
    }

    .can-cont-ttl .can-img {
        width: 4.513888888888888vw;
        height: 4.583333333333333vw;
    }

    .can-cont-body {
        padding-top: 1.7361111111111112vw;
        font-size: 1.1111111111111112vw;
    }
}

@media screen and (max-width: 768px) {
    #can .section-ttl-wrap img {
        width: 23.4375vw;
    }

    .can-cont-wrap {
        flex-direction: column;
        gap: 5.859375vw;
    }

    .can-cont-item {
        width: 100%;
    }

    .can-cont-ttl span {
        font-size: 16.927083333333336vw;
        line-height: 13.020833333333334vw;
    }

    .can-cont-ttl {
        width: 70vw;
        padding-right: 0;
        justify-content: center;
        align-items: center;
        gap: 5vw;
        margin-left: auto;
        margin-right: auto;
    }

    .can-cont-ttl .can-name{
        height: 10.416666666666668vw;
    }

    .can-cont-ttl .can-img {
        width: 10.286458333333332vw;
        height: 10.416666666666668vw;
    }

    .can-cont-body {
        width: 70vw;
        padding: 3.2552083333333335vw 0;
        font-size: max(2.34375vw, 13px);
        margin-left: auto;
        margin-right: auto;
    }
}

/*===================================
section 2
===================================*/
@media screen and (max-width: 1440px) {
    #skills .section-ttl-wrap {
        width: 71.04166666666667vw;
    }

    #skills .section-ttl-wrap img {
        width: 16.11111111111111vw;
    }

    .skills-cont-wrap {
        width: 71.04166666666667vw;
        gap: 0.4861111111111111vw;
    }

    .skills-item {
        width: 17.36111111111111vw;
        padding: 1.5277777777777777vw 1.5277777777777777vw 2.569444444444444vw 1.5277777777777777vw;
    }

    .skill-name {
        gap: 1.0416666666666665vw;
        margin-bottom: 1.0416666666666665vw;
    }

    .skill-name h3 {
        font-size: 1.1111111111111112vw;
    }

    .skills-item p {
        font-size: 1.0416666666666665vw;
    }

    .skills-point {
        width: 1.3194444444444444vw;
        right: 2.083333333333333vw;
    }

    .skill-name img {
        width: 4.444444444444445vw;
    }
}

@media screen and (max-width: 768px) {
    #skills .section-ttl-wrap img {
        width: 30.208333333333332vw;
    }

    #skills .section-ttl-wrap {
        width: 80.078125vw;
    }

    .skills-cont-wrap {
        width: 92.1875vw;
        gap: 1.3020833333333335vw;
    }

    .skill-name {
        gap: 1.953125vw;
    }

    .skill-name img {
        width: 8.333333333333332vw;
    }

    .skills-item {
        width: 45.44270833333333vw;
        padding: 2.604166666666667vw 2.604166666666667vw 2.569444444444444vw 2.604166666666667vw;
    }

    .skill-name h3 {
        font-size: max(2.083333333333333vw, 12px);
    }

    .skills-item p {
        font-size: max(2.083333333333333vw, 11px);
    }

    .skills-point {
        width: 3vw;
        right: 2.604166666666667vw;
    }
}

/*===================================
section 3
===================================*/
@media screen and (max-width: 1440px) {
    #works .section-ttl-wrap img {
        width: 13.055555555555557vw;
    }

    .slide-arrow{
        width: 3.680555555555556vw;
        top: 36.11111111111111vw;
    }

    .works-item img {
        width: 70.83333333333334vw;
    }

    .works-body {
        width: 70.83333333333334vw;
        padding-top: 1.736111111111111vw;
    }
    
    .works-body h3 {
        font-size: 1.9444444444444444vw;
        padding: 0 4.166666666666666vw 0.4861111111111111vw 4.166666666666666vw;
    }
    
    .works-body h3.aoba {
        font-size: 1.6vw;
    }
    
    .works-body h4 {
        font-size: 1.25vw;
        padding-top: 0.6944444444444444vw;
        margin-bottom: 1.0416666666666665vw;
    }

    .works-body p {
        font-size: 1.1111111111111112vw;
    }
    
    .works-body-text {
        width: 70.83333333333334vw;
        margin-top: 1.597222222222222vw;
        padding: 2.083333333333333vw 3.4722222222222223vw;
        border-radius: 1.3888888888888888vw;
    }

    .works-body-text p {
        font-size: 1.1111111111111112vw;
    }
    
    .works-body {
        width: 72.03389830508475vw;
    }

    .works-body-text p:nth-child(1) {
        width: 10vw;
    }
    
    .works-body-text p:nth-child(2) {
        width: 52.5vw;
    }

}

@media screen and (max-width: 768px) {   
    #works .section-ttl-wrap img {
        width: 24.479166666666664vw;
    }

    .slide-arrow{
        width: 6.380208333333333vw;
        min-width: 45px;
        top: 47.65625vw;
    }

    .works-item img {
        width: 92.1875vw;
    }

    .works-body {
        width: 92.1875vw;
        padding-top: 3.2552083333333335vw;
    }

    .works-body p {
        font-size: max(2.083333333333333vw, 13px);
        line-height: 1.5;
    }
    
    .works-body h3 {
        font-size: max(3.6458333333333335vw, 20px);
        padding: 0 7.8125vw 0.9114583333333334vw 7.8125vw;
    }
    
    .works-body h3.aoba {
        font-size: max(2.734375vw, 15px);
    }
    
    .works-body h4 {
        font-size: max(2.34375vw, 18px);
        padding-top: 1.3020833333333335vw;
        margin-bottom: 1.953125vw;
    }
    
    .works-body-text {
        width: 100%;
        margin-top: 2.994791666666667vw;
        padding: 3.90625vw 6.510416666666667vw;
        border-radius: 2.604166666666667vw;
    }

    .works-body-text p {
        font-size: max(2.083333333333333vw, 12px);
        line-height: 2;
    }
    
    .works-body-text p:nth-child(1) {
        width: 16.666666666666664vw;
    }
    
    .works-body-text p:nth-child(2) {
        width: 57.03125vw;
    }
}

@media screen and (max-width: 500px) {
    .works-body-text {
        padding: 3.90625vw 4vw;
    }

    .works-body-text p:nth-child(1) {
        width: 20vw;
    }
}

@media screen and (max-width: 390px) {
    .works-body-text {
        margin-top: 2.994791666666667vw;
        padding: 3.90625vw 4vw;
    }

    .works-body-text p {
        font-size: 12px;
    }

    .works-body-text p:nth-child(1) {
        width: 23vw;
    }
}

/*===================================
section 4
===================================*/
@media screen and (max-width: 1440px) {
    #about .section-ttl-wrap img {
        width: 10.833333333333334vw;
    }

    .about-body-flex-wrap h3 {
        font-size: 1.597222222222222vw;
    }
    
    .about-body-cont {
        margin: 2.361111111111111vw 0 4.166666666666666vw;
        gap: 3.888888888888889vw;
    }

    .about-body-item1-flex {
        gap: 1.0416666666666665vw;
        margin: 1.0416666666666665vw 0 25px;
    }
    
    .about-body-item1-flex img {
        width: 1.3888888888888888vw;
        min-width: 15px;
    }
    
    .about-body-item1 h4 {
        font-size: 2.430555555555556vw;
    }
    
    .about-body-item1 p {
        font-size: 1.1111111111111112vw;
    }
    
    .about-body-item1-adjust {
        padding-left: 0.3472222222222222vw;
    }
    
    .about-body-item2 {
        padding: 2.7777777777777777vw 4.166666666666666vw 3.4722222222222223vw;
        border-radius: 1.3888888888888888vw;
    }
    
    .about-body-item2 h4 {
        color: #fff;
        padding: 0.3472222222222222vw 1.3888888888888888vw;
        font-size: 1.25vw;
    }
    
    .about-body-text {
        gap: 2.083333333333333vw;
        margin-top: 1.3888888888888888vw;
    }
    
    .about-body-text p {
        font-size: 1.1111111111111112vw;
    }
    .about-body-text p:first-child {
        width: 13.680555555555557vw;
        padding-right: 2.083333333333333vw;
    }

    .about-body-text p:last-child {
        width: 26.458333333333332vw;
    }
    
    .about-body-text-wrap {
        padding: 2.7777777777777777vw;
    }
    
    .about-body-text-wrap img {
        width: 19.583333333333332vw;
        min-width: 180px;
        top: -3.4722222222222223vw;
        right: 3.5416666666666665vw;
    }
    
    .about-body-text-wrap p {
        width: 42.84722222222222vw;
        font-size: 1.1111111111111112vw;
    }
    
    .about-body-text-wrap p:not(:last-child) {
        padding-bottom: 2.083333333333333vw;
    }
}


@media screen and (max-width: 768px) { 
    #about .section-ttl-wrap img {
        width: 20.3125vw;
    }

    .about-body-flex-wrap {
        text-align: center;
    }

    .about-body-flex-wrap h3 {
        font-size: max(2.994791666666667vw, 16px);
        line-height: 1.5;
    }
    
    .about-body-cont {
        flex-direction: column;
        margin: 4.427083333333334vw 0 7.8125vw;
        gap: 7.291666666666667vw;
        text-align: center;
    }
    
    .about-body-item1-flex {
        justify-content: center;
        gap: 1.953125vw;
        margin: 1.953125vw 0 3.2552083333333335vw;
    }
    
    .about-body-item1-flex img {
        width: 2.604166666666667vw;
        min-height: 1.953125vw;
    }
    
    .about-body-item1 h4 {
        font-size: max(4.557291666666666vw, 18px);
    }
    
    .about-body-item1 p {
        font-size: max(2.34375vw, 14px);
    }
    
    .about-body-item1-adjust {
        padding-left: 0.6510416666666667vw;
    }
    
    .about-body-item2 {
        width: 100%;
        padding: 5.208333333333334vw 7.8125vw 6.510416666666667vw;
        border-radius: 2.604166666666667vw;
    }
    
    .about-body-item2 h4 {
        padding: 0.6510416666666667vw 2.604166666666667vw;
        font-size: max(2.34375vw, 13px);
    }
    
    .about-body-text {
        flex-direction: column;
        gap: 0;
        margin-top: 3.2552083333333335vw;
    }

    .about-body-text p {
        font-size: max(2.083333333333333vw, 12px);
    }
    
    .about-body-text p:first-child {
        width: 100%;
        padding-right: 3.90625vw;
        border-right: none;
    }

    .about-body-text p:last-child {
        width: 100%;
        padding-bottom: 3.2552083333333335vw;
        border-bottom: 1px solid #000;
    }
    
    .about-body-text-wrap {
        padding: 5.208333333333334vw;
    }
    
    .about-body-text-wrap img {
        width: 31.901041666666668vw;
        min-width: auto;
        top: -45.57291666666667vw;
        right: 0;
    }
    
    .about-body-text-wrap p {
        width: 100%;
        text-align: left;
        font-size: max(2.083333333333333vw, 12px);
    }
    
    .about-body-text-wrap p:not(:last-child) {
        padding-bottom: 3.90625vw;
    }
}

@media screen and (max-width: 414px) { 
    .about-body-text-wrap img {
        top: -40vw;
    }
}

@media screen and (max-width: 1440px) {
    footer {
        padding: 0.6944444444444444vw 0;
    }

    footer .copy {
        font-size: 0.8333333333333334vw;
    }
}


@media screen and (max-width: 768px) {
    footer {
        padding: 1.3020833333333335vw 0;
    }
    
    footer .copy {
        font-size: 11px;
    }
}
