@charset "UTF-8";
/*===================================
common css
===================================*/
@media screen and (max-width: 767px) {
  html {
    font-weight: bold;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-weight: bold;
  }
}
/*===================================
header
===================================*/
@media screen and (min-width: 767px) {
  .header-wrap {
    margin-top: 2.1354166667vw;
    margin-left: 8.3333333333vw;
    margin-right: 3.125vw;
  }
  .header-left img {
    width: 2.6041666667vw;
  }
  .header-right ul {
    gap: 3.125vw;
  }
  .header-right a {
    gap: 0.5208333333vw;
  }
}
@media screen and (max-width: 1200px) {
  .header-wrap {
    margin-left: 4.1666666667vw;
  }
  .header-right a p {
    font-size: 1.3333333333vw;
  }
  .fa-chevron-down,
  .fa-chevron-right {
    font-size: 0.8333333333vw;
  }
  .header-right .btn-gradients {
    width: 10.8333333333vw;
    padding: 0.8333333333vw 0;
    gap: 2vw;
  }
  .header-left img {
    width: 4.1666666667vw;
  }
}
@media screen and (max-width: 767px) {
  .header-wrap {
    margin-top: 3.8888888889vw;
    margin-left: 4.1666666667vw;
    margin-right: 4.1666666667vw;
  }
  .header-left img {
    width: 8.3333333333vw;
  }
}
/*===================================
ハンバーガー
===================================*/
@media screen and (max-width: 767px) {
  .h-menu-toggle {
    width: 8.3333333333vw;
    position: fixed;
    top: 6.1111111111vw;
    right: 4.1666666667vw;
    z-index: 1001;
    border-radius: 50%;
  }
  .h-menu-toggle i {
    height: 1px;
    background-color: #0D0D0D;
    border-radius: 1px;
    position: absolute;
    transition: transform 0.5s, opacity 0.5s;
  }
  /* 三本線 */
  .h-menu-toggle i:nth-child(1) {
    width: 4.7222222222vw;
    top: 1.9444444444vw;
    right: 0;
  }
  .h-menu-toggle i:nth-child(2) {
    width: 6.6666666667vw;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  .h-menu-toggle i:nth-child(3) {
    width: 8.3333333333vw;
    bottom: 1.9444444444vw;
    right: 0;
  }
  /* ×マーク */
  .h-menu-toggle.show {
    background-color: #fff;
  }
  .h-menu-toggle.show i {
    background-color: #0D0D0D;
  }
  .h-menu-toggle.show i:nth-child(1) {
    width: 8.3333333333vw;
    transform: translateY(-1.9444444444vw) rotate(-23deg);
    left: 0;
  }
  .h-menu-toggle.show i:nth-child(2) {
    opacity: 0;
  }
  .h-menu-toggle.show i:nth-child(3) {
    width: 8.3333333333vw;
    transform: translateY(2.2222222222vw) rotate(23deg);
    left: 0;
  }
  /* 出現するメニューのデザイン */
  .h-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 4.1666666667vw;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    background-color: #fff;
    transition: opacity 0.5s, visibility 0.5s;
  }
  .h-menu-logo {
    width: 22.2222222222vw;
    margin-top: 11.1111111111vw;
  }
  .h-menu-flex-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 19.4444444444vw;
  }
  .h-menu-cont ul {
    display: flex;
    flex-direction: column;
    gap: 11.1111111111vw;
  }
  .h-menu-cont a {
    font-size: 4.4444444444vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #0D0D0D;
    gap: 2.7777777778vw;
  }
  .h-menu-cont a span {
    font-size: 3.3333333333vw;
  }
  .fa-chevron-down,
  .fa-chevron-right {
    font-size: 10px;
    padding-top: 0.12em;
  }
  .h-menu-text p {
    font-size: 5vw;
    line-height: 1.5;
    letter-spacing: 0.3em;
    writing-mode: vertical-rl;
  }
  .h-menu-contact {
    margin-top: 17.7777777778vw;
    text-align: center;
  }
  .h-menu-contact p:nth-child(2) {
    font-size: 3.8888888889vw;
    line-height: 2;
    margin: 11.1111111111vw 0;
  }
  .h-menu-contact-cta,
  .contact-cta {
    width: 72.2222222222vw;
    height: 15.5555555556vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6.3888888889vw;
    border: 1px solid #0D0D0D;
    border-radius: 100vh;
  }
  .h-menu-contact-cta p,
  .contact-cta p {
    font-size: 4.4444444444vw;
  }
  /* クリック後付与 */
  .h-menu.show {
    opacity: 1;
    visibility: visible;
  }
  html.scroll {
    overflow: hidden;
  }
}
/*===================================
mv
===================================*/
@media screen and (min-width: 767px) {
  .mv-cont {
    margin-top: 2.1354166667vw;
    margin-left: 8.3333333333vw;
  }
  .mv-main-text {
    width: 21.3541666667vw;
    margin-top: 7.3958333333vw;
  }
  .mv-main-text h1,
  .mv-main-text h2 {
    font-size: 1.5625vw;
  }
  .mv-main-text span {
    font-size: 0.78125vw;
    margin-top: 0.8333333333vw;
  }
  .mv-main-text h2 {
    margin-top: 4.1666666667vw;
    margin-bottom: 16.9270833333vw;
  }
  .mv-main-img {
    width: 70.3125vw;
  }
  .mv-eng-point {
    width: 24.5833333333vw;
    right: 3.125vw;
    bottom: 6.1458333333vw;
  }
}
@media screen and (max-width: 1200px) {
  .mv-cont {
    margin-top: 1.6666666667vw;
    margin-left: 4.1666666667vw;
  }
  .mv-main-text {
    width: 25vw;
    margin-top: 5vw;
  }
  .mv-main-text h1,
  .mv-main-text h2 {
    font-size: 1.9166666667vw;
  }
  .mv-main-text span {
    font-size: 1.0833333333vw;
    margin-top: 1.3333333333vw;
  }
  .mv-eng-point {
    width: 39.3333333333vw;
  }
}
@media screen and (max-width: 767px) {
  .mv-cont {
    flex-direction: column;
    margin-top: 22.2222222222vw;
    margin-left: 4.1666666667vw;
  }
  .mv-main-text {
    width: 100%;
    margin-top: 0;
  }
  .mv-main-text h1 {
    font-size: 6.3888888889vw;
  }
  .mv-main-text h2 {
    font-size: 5.2777777778vw;
    margin-top: 11.1111111111vw;
    margin-bottom: 6.6666666667vw;
  }
  .mv-main-text span {
    font-size: 3.0555555556vw;
    margin-top: 2.7777777778vw;
    margin-bottom: 8.3333333333vw;
  }
  .mv-main-img {
    width: 83.3333333333vw;
    margin: 0 0 0 auto;
  }
  .mv-eng-point {
    width: 13.8888888889vw;
    right: 4.1666666667vw;
    top: 27.2222222222vw;
  }
}
/*===================================
slide
===================================*/
@media screen and (max-width: 1200px) {
  .slide-dots {
    right: 1.6666666667vw;
    gap: 0.8333333333vw;
  }
  .slide-dots li {
    width: 0.8333333333vw;
    height: 0.8333333333vw;
  }
}
@media screen and (max-width: 767px) {
  .slide-dots {
    right: auto;
    left: 3.3333333333vw;
    gap: 1.9444444444vw;
  }
  .slide-dots li {
    width: 1.9444444444vw;
    height: 1.9444444444vw;
  }
}
/*===================================
area section common
===================================*/
@media screen and (min-width: 767px) {
  .area-wrap-common {
    margin-top: 7.2916666667vw;
  }
  .area-cont-ttl-01 {
    width: 26.9270833333vw;
  }
  .area-cont-ttl-03 {
    width: 27.2916666667vw;
  }
  .area-cont-ttl-04 {
    width: 27.96875vw;
  }
  #about .area-cont-ttl {
    padding-top: 5.2083333333vw;
  }
  .area-point-txt {
    top: 5.2083333333vw;
    right: 8.3333333333vw;
  }
  .area-cont-ttl h3::before {
    margin-right: 2.0833333333vw;
  }
}
@media screen and (max-width: 1200px) {
  .area-wrap-common {
    margin-top: 11.6666666667vw;
  }
  .area-cont-ttl-01 {
    width: 20.5vw;
  }
  .area-cont-ttl-03 {
    width: 21.0833333333vw;
  }
  .area-cont-ttl-04 {
    width: 22.1666666667vw;
  }
  #about .area-cont-ttl {
    padding-top: 8.3333333333vw;
  }
  .area-cont-ttl h3 {
    font-size: 2.6666666667vw;
  }
  .area-point-txt {
    top: 8.3333333333vw;
    right: 5vw;
    font-size: 2.5vw;
  }
  .area-cont-ttl h3::before {
    margin-right: 1.6666666667vw;
  }
}
@media screen and (max-width: 767px) {
  .area-wrap-common {
    margin-top: 22.2222222222vw;
  }
  #works.area-wrap-common {
    margin-top: 40.5555555556vw;
  }
  .area-cont-ttl-01 {
    width: 41.3888888889vw;
  }
  .area-cont-ttl-03 {
    width: 43.0555555556vw;
  }
  .area-cont-ttl-04 {
    width: 45.8333333333vw;
  }
  #about .area-cont-ttl {
    padding-top: 16.6666666667vw;
  }
  .area-cont-ttl h3 {
    font-size: 6.6666666667vw;
  }
  .area-point-txt {
    top: 16.6666666667vw;
    right: 4.1666666667vw;
    font-size: 5vw;
  }
  .area-cont-ttl h3::before {
    margin-right: 2.7777777778vw;
  }
}
/*===================================
area-1 section
===================================*/
@media screen and (min-width: 767px) {
  .about-cont {
    width: 56.25vw;
    padding-top: 5.2083333333vw;
  }
  .about-cont h4 {
    padding-bottom: 3.6458333333vw;
  }
  img.about-logo {
    width: 18.8020833333vw;
    right: 8.3333333333vw;
  }
  .about-cont p:nth-child(2n+1) {
    padding: 2.34375vw 0;
  }
}
@media screen and (max-width: 1200px) {
  .area-wrap-01 {
    height: 62.0833333333vw;
  }
  .about-bk img {
    height: 62.0833333333vw;
  }
  .about-cont {
    width: 75vw;
    padding-top: 8.3333333333vw;
  }
  .about-cont h4 {
    font-size: 2.3333333333vw;
    padding-bottom: 5.8333333333vw;
  }
  .about-cont h4 .about-sub {
    font-size: 1.25vw;
  }
  img.about-logo {
    width: 22.3333333333vw;
    right: 5vw;
  }
  .about-cont p {
    font-size: 1.25vw;
  }
  .about-cont p:nth-child(2n+1) {
    padding: 3.75vw 0;
  }
}
@media screen and (max-width: 767px) {
  .area-wrap-01 {
    height: 198.3333333333vw;
  }
  .about-bk img {
    height: 198.3333333333vw;
  }
  .about-cont {
    width: 91.6666666667vw;
    padding-top: 16.6666666667vw;
  }
  .about-cont h4 {
    font-size: 6.3888888889vw;
    padding-bottom: 16.6666666667vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about-cont h4 .about-sub {
    font-size: 3.6111111111vw;
    margin-top: 2.7777777778vw;
  }
  img.about-logo {
    width: 32.7777777778vw;
    right: 4.1666666667vw;
  }
  .about-cont p {
    font-size: 3.6111111111vw;
  }
  .about-cont p:nth-child(2n+1) {
    padding: 8.3333333333vw 0;
  }
}
/*===================================
area-2 section
===================================*/
@media screen and (min-width: 767px) {
  .area-wrap-02 {
    width: 56.25vw;
  }
  .cv-wrap {
    width: 47.7604166667vw;
  }
  .cv-box {
    gap: 3.6458333333vw;
  }
  .cv-date {
    width: 160px;
  }
}
@media screen and (max-width: 1200px) {
  .area-wrap-02 {
    width: 75vw;
  }
  .cv-wrap {
    width: 65vw;
    font-size: 1.25vw;
  }
  .area-02-ttl {
    width: 4.1666666667vw;
    height: 6.6666666667vw;
    font-size: 1.6666666667vw;
  }
  .cv-box {
    gap: 5.8333333333vw;
    padding-bottom: 2.5vw;
  }
  .cv-box:not(:first-child) {
    padding-top: 2.5vw;
  }
  .cv-date {
    width: 13.3333333333vw;
  }
  .cv-cont p:nth-child(1) {
    padding-bottom: 2.5vw;
  }
  .cv-cont span {
    padding: 0.3333333333vw 1.1666666667vw;
    margin: 2.5vw 0 0.5vw;
  }
  .cv-eng-point {
    margin-top: 4.1666666667vw;
  }
  .cv-eng-point img {
    width: 36.8333333333vw;
  }
}
@media screen and (max-width: 767px) {
  .area-wrap-02 {
    width: 91.6666666667vw;
    position: relative;
  }
  .cv-wrap {
    width: 74.4444444444vw;
    font-size: 3.6111111111vw;
  }
  .area-02-ttl {
    width: 11.1111111111vw;
    height: 17.5vw;
    font-size: 4.4444444444vw;
  }
  .cv-box {
    flex-direction: column;
    gap: 2.7777777778vw;
    padding-bottom: 8.3333333333vw;
  }
  .cv-box:not(:first-child) {
    padding-top: 8.3333333333vw;
  }
  .cv-date {
    width: 100%;
  }
  .cv-cont p:nth-child(1) {
    padding-bottom: 8.3333333333vw;
  }
  .cv-cont span {
    padding: 1.1111111111vw 3.8888888889vw;
    margin: 8.3333333333vw 0 2.7777777778vw;
  }
  .cv-eng-point {
    margin-top: 0;
    position: absolute;
    left: 0;
    bottom: -66px;
  }
  .cv-eng-point img {
    width: 7.5vw;
  }
}
/*===================================
area-3 section
===================================*/
@media screen and (min-width: 767px) {
  .works-cont-wrap {
    height: 28.0208333333vw;
    margin-top: 6.25vw;
  }
  .works-flex-box {
    gap: 2.0833333333vw;
    padding-left: 21.8229166667vw;
  }
  .works-item,
  .works-item img {
    width: 19.7916666667vw;
  }
}
@media screen and (max-width: 1200px) {
  .works-cont-wrap {
    height: 30.75vw;
    margin-top: 10vw;
  }
  .works-flex-box {
    gap: 2.1666666667vw;
    padding-left: 12.3333333333vw;
  }
  .works-item,
  .works-item img {
    width: 21.75vw;
  }
}
@media screen and (max-width: 767px) {
  .works-cont-wrap {
    height: 121.9444444444vw;
    margin-top: 19.4444444444vw;
  }
  .works-flex-box {
    flex-wrap: wrap;
    gap: 4.1666666667vw;
    position: absolute;
    right: -21.3888888889vw;
  }
  .works-item,
  .works-item img {
    width: 41.6666666667vw;
  }
}
/*===================================
area-4 section
===================================*/
@media screen and (min-width: 767px) {
  .service-flex-wrap {
    width: 56.25vw;
  }
  .service-conts {
    gap: 3.125vw;
  }
  .service-conts h4 {
    width: 7.5vw;
  }
}
@media screen and (max-width: 1200px) {
  .number-wrap img {
    width: 7.5833333333vw;
  }
  .service-flex-wrap {
    width: 75vw;
    gap: 3.3333333333vw;
    margin-top: 10vw;
  }
  .service-cont-wrap {
    gap: 6.6666666667vw;
    font-size: 1.3333333333vw;
  }
  .service-conts {
    height: 7.5833333333vw;
    gap: 5vw;
  }
  .service-conts p {
    width: 44.1666666667vw;
  }
  .service-conts h4 {
    width: 8.4166666667vw;
  }
  /* コンタクト */
  .contact-wrap {
    width: 75vw;
    margin-top: 11.6666666667vw;
  }
  .contact-wrap img {
    width: 19.4166666667vw;
  }
  .contact-cont {
    margin-top: 6.6666666667vw;
    font-size: 1.3333333333vw;
  }
  .contact-cta {
    width: 21.6666666667vw;
    height: 4.6666666667vw;
    gap: 1.9166666667vw;
  }
  .contact-cta p {
    font-size: 1.3333333333vw;
  }
  .fa-chevron-right {
    font-size: 0.8333333333vw;
  }
}
@media screen and (max-width: 767px) {
  .number-wrap img {
    width: 15vw;
  }
  .service-flex-wrap {
    width: 91.6666666667vw;
    gap: 4.4444444444vw;
    margin-top: 19.4444444444vw;
  }
  .service-cont-wrap {
    gap: 12.7777777778vw;
    margin-top: 4.4444444444vw;
  }
  .service-conts {
    height: auto;
    gap: 7.5vw;
    flex-direction: column;
    align-items: flex-start;
  }
  .service-conts p {
    width: 72.2222222222vw;
    font-size: 3.6111111111vw;
  }
  .service-conts-adjust {
    padding-bottom: 3.8888888889vw;
  }
  .service-conts h4 {
    width: auto;
    font-size: 6.3888888889vw;
  }
  .area-wrap-04 .area-point-txt {
    top: 228.8888888889vw;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
  /* コンタクト */
  .contact-wrap {
    width: 91.6666666667vw;
    margin-top: 22.2222222222vw;
    text-align: center;
  }
  .contact-wrap img {
    width: 64.7222222222vw;
  }
  .contact-cont {
    margin-top: 76.1111111111vw;
    font-size: 3.8888888889vw;
    flex-direction: column;
    align-items: center;
    gap: 11.1111111111vw;
  }
  .contact-cta {
    width: 72.2222222222vw;
    height: 15.5555555556vw;
    gap: 10.8333333333vw;
  }
  .contact-cta p {
    font-size: 4.4444444444vw;
  }
  .fa-chevron-right {
    font-size: 2.7777777778vw;
  }
}
/*===================================
footer
===================================*/
@media screen and (min-width: 767px) {
  footer {
    height: 5.2083333333vw;
  }
}
@media screen and (max-width: 1200px) {
  footer {
    height: 8.3333333333vw;
    margin-top: 11.6666666667vw;
  }
  .footer-bk {
    height: 8.3333333333vw;
  }
}
@media screen and (max-width: 767px) {
  footer {
    height: 27.7777777778vw;
    margin-top: 27.7777777778vw;
  }
  .footer-bk {
    height: 27.7777777778vw;
  }
  .footer-cont img {
    width: 11.1111111111vw;
  }
}/*# sourceMappingURL=media.css.map */
