@charset "utf-8";

/*===================================
common css
===================================*/
html {
    font-family: 'Shippori Mincho', serif;
}

.sp {
    display: none;
}

body {
    color: #0D0D0D;
}

* {
    min-height: 0;
    min-width : 0;
}

/*===================================
fadeInアニメーション
===================================*/
.fade-in {
    opacity: 0;
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transition: all 1s;
}

.fade-in.active {
    opacity: 1;
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
}

.fade-in.late1 {
    transition-delay: 0.2s;
}

.fade-in.late2 {
    transition-delay: 0.4s;
}

.fade-in.late3 {
    transition-delay: 0.6s;
}
/*===================================
mv
===================================*/
.mv-cont-wrap {
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/*===================================
header
===================================*/
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 41px;
    margin-left: 160px;
    margin-right: 60px;
    font-weight: bold;
}

.header-left img {
    width: 50px;
}

.header-right ul,
.header-right a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right ul {
    gap:60px;
}

.header-right a {
    gap: 10px;
    transition: .5s;
}

.header-right a p {
    font-size: 16px;
}

.fa-chevron-down,
.fa-chevron-right {
    font-size: 10px;
    padding-top: 0.12em;
}

.header-right .btn-gradients {
    width: 130px;
    padding: 10px 0;
    border-radius: 100vh;
    gap: 24px;
    background: rgb(210,230,234);
    background: linear-gradient(90deg, rgba(210,230,234,1) 0%, rgba(239,216,208,1) 100%);
    transition: .5s;
}

.header-right a:hover:not(.not-hover) {
    opacity: 0.6;
}

.header-right a.btn-gradients:hover,
.contact-cta:hover {
    background: #0D0D0D;
    color: #fff;
}

/*===================================
mv
===================================*/
.mv-cont {
    margin-top: 41px;
    margin-left: 160px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.mv-main-text {
    width: 410px;
    margin-top: 142px;
}

.mv-main-text h1,
.mv-main-text h2 {
    font-size: 30px;
}

.mv-main-text h1 {
    letter-spacing: 0.2em;
}

.mv-main-text span {
    display: block;
    font-size: 15px;
    margin-top: 16px;
}

.mv-main-text h2 {
    margin-top: 80px;
    margin-bottom: 325px;
    line-height: 1.5;
    letter-spacing: 0.1em;
}

.mv-main-img{
    width: 1350px;
}

.mv-eng-point {
    position: absolute;
    right: 60px;
    bottom: 118px;
    z-index: 10;
}


/*===================================
slide
===================================*/
.slider {
    position:relative;
	z-index: 1;
	height: 100%;
}

.slider-item img{
    width: 100%;
}

.slide-dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    right: 20px;
    z-index: 10;
    font-size: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.slide-dots li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px #fff solid;
}

.slick-active {
    background: #fff;
}

/*===================================
area section common
===================================*/
.area-wrap-common {
    margin-top: 140px;
}

.area-cont-ttl-01 {
    width: 517px;
}

.area-cont-ttl-03 {
    width: 524px;
}


.area-cont-ttl {
    position: relative;
}

#about .area-cont-ttl {
    padding-top: 100px;
}

.area-cont-ttl h3 {
    font-size: 32px;
    font-weight: bold;
    align-items: center;
    display: flex;
}

.area-point-txt {
    writing-mode: vertical-rl;
    position: absolute;
    top: 100px;
    right: 160px;
    font-size:  30px;
    line-height: 2;
    letter-spacing: 0.3em;
    
}

.area-cont-ttl h3::before {
    content: "";
    display: block;
    background-color: #0D0D0D;
    flex-grow: 1;
    height: 1px;
    margin-right: 40px;
}

/*===================================
area-1 section
===================================*/
.area-wrap-01 {
    width: 100%;
    height: 745px;
    position: relative;
}

.about-bk img{
    width: 100%;
    height: 745px;
    position: absolute;
    z-index: -1;
}

.about-cont {
    width: 1080px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.about-cont h4 {
    font-size: 28px;
    letter-spacing: 0.2em;
    display: flex;
    align-items: center;
    padding-bottom: 70px;
}

.slash {
    margin: 0 10px;
}

.about-cont h4 .about-sub {
    font-size: 15px;
}

img.about-logo {
    width: 361px;
    position: absolute;
    bottom: 0;
    right: 160px;
}

.about-cont p {
    font-size: 15px;
    line-height: 2;
    letter-spacing: 0.1em;
}

.about-cont p:nth-child(2n+1) {
    padding: 45px 0;
}

/*===================================
area-2 section
===================================*/
.area-wrap-02 {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.area-02-cv-wrap {
    display: flex;
    justify-content: space-between;
}

.area-02-ttl {
    width: 50px;
    height: 80px;
    border: 1px solid #0D0D0D;
    writing-mode: vertical-rl;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1em;
}

.cv-wrap {
    width: 917px;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: 0.05em;
}

.cv-box {
    display: flex;
    gap: 70px;
    border-bottom: 1px solid #0D0D0D;
    padding-bottom: 30px;
}

.cv-box:not(:first-child) {
    padding-top: 30px;
}

.cv-date {
    width: 135px;
}

.cv-cont p:nth-child(1){
    padding-bottom: 30px;
}

.cv-cont span {
    display: inline-block;
    padding: 4px 14px;
    border: 1px solid #0D0D0D;
    margin: 30px 0 16px;
}

.cv-eng-point {
    display: flex;
    justify-content: end;
    margin-top: 50px;
}

.cv-eng-point img {
    width: 442px;
    
}

/*===================================
area-3 section
===================================*/
.area-wrap-03 {
    width: 100%;
}

.area-wrap-03 .area-cont-ttl {
    padding-top: 0;
}

.works-cont-wrap {
    width: 100%;
    height: 538px;
    margin-top: 120px;
    position: relative;
    overflow: hidden;
}

.works-flex-box {
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-left: 408px;
}

.works-item,
.works-item img {
    display: block;
    width: 380px;
}

/*===================================
area-4 section
===================================*/
.area-wrap-04 {
    position: relative;
}

.number-wrap img {
    width: 91px;
}

.service-flex-wrap {
    width: 1080px;
    display: flex;
    gap: 40px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}


.service-cont-wrap {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.service-conts {
    height: 91px;
    display: flex;
    gap: 60px;
    align-items: center;
}

.service-conts h4 {
    width: 144px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.service-conts p {
    line-height: 2;
    letter-spacing: 0.05em;
}

/* コンタクト */
.contact-wrap {
    width: 1080px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
}

.contact-wrap img {
    width: 233px;
}

.contact-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.contact-cont p {
    line-height: 2;
    letter-spacing: 0.05em;
}

.contact-cta {
    width: 260px;
    height: 56px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    border: 1px solid #0D0D0D;
    border-radius: 100vh;
    transition: .5s;
}

.contact-cta p {
    font-size: 16px;
}

.fa-chevron-right {
    font-size: 10px;
}

/*===================================
footer
===================================*/
footer {
    width: 100%;
    height: 100px;
    margin-top: 140px;
    position: relative;
}

.footer-bk {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.footer-cont {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.footer-cont span {
    display: block;
    font-size: 10px;
    margin-top: 5px;
}
